<!DOCTYPE html>
<html lang="pt" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
    <title>Loja Virtual com Spring MVC Spring Boot + Thymeleaf</title>
    <!--    <meta charset="UTF-8"/>-->
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>-->
    <!--    <meta name="description" content=""/>-->
    <!--    <meta name="author" content=""/>-->
    <!--    <link rel="icon" href="/image/favicon.png"/>-->

    <!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--    <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet"/>-->

    <!--    &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
    <!--    <link href="/css/style.css" rel="stylesheet"/>-->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        let paymentsJson = "[[${payments}]]";
        let numberOfClientes = [[${clientes}]];
        let numberOfFuncionarios = [[${funcionarios}]];
        let payments = JSON.parse(paymentsJson.replace(/&quot;/g, '"'))

        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            let data1 = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Cartão de Crédito', payments.creditCardAmount],
                ['Cartão de Débito', payments.debitCardAmount],
                ['Boleto', payments.ticketAmount],
                ['Transferência', payments.bankTransferAmount],
            ]);

            let data2 = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Clientes', numberOfClientes],
                ['Funcionários', numberOfFuncionarios],
            ]);


            let options1 = {
                title: 'Forma de pagamento usadas'
            };

            let options2 = {
                title: 'Percentual de Clientes/Funcionários',
                is3D: true,
            };

            let chart = new google.visualization.PieChart(document.getElementById('piechart'));
            let chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));

            chart.draw(data1, options1);
            chart2.draw(data2, options2);
        }
    </script>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Home</span>
                </li>
            </ul>
        </div>
    </nav>

    <!--    <div class="container">-->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- 404 Error Text -->
        <!--            <div class="text-center">-->
        <!--                <div class="error mx-auto" data-text="404">404</div>-->
        <!--                <p class="lead text-gray-800 mb-5">Page Not Found</p>-->
        <!--                <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>-->
        <!--                <a href="/">&larr; Voltar para Dashboard</a>-->
        <!--            </div>-->
        <div style="display: flex; align-items: center; flex-direction: row; justify-content: center;">
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div id="piechart" style="width: 700px; height: 500px;"></div>
                <a href="/reportCompra" target="_blank" class="btn btn-sm btn-success" role="button">
                    Relatório de compras completo (.PDF)
                </a>
            </div>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div id="piechart2" style="width: 700px; height: 500px;"></div>
                <a href="/reportUser" target="_blank" class="btn btn-sm btn-success" role="button">
                    Relatório de Clientes completo (.PDF)
                </a>
            </div>
        </div>


    </div>
    <!--    </div>-->

</section>

</body>
</html>
