<!DOCTYPE html>
<html lang="pt" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
    <title>Loja Virtual com Spring MVC Spring Boot + Thymeleaf</title>
    <!--    <meta charset="UTF-8"/>-->
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>-->
    <!--    <meta name="description" content=""/>-->
    <!--    <meta name="author" content=""/>-->
    <!--    <link rel="icon" href="/image/favicon.png"/>-->

    <!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--    <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet"/>-->

    <!--    &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
    <!--    <link href="/css/style.css" rel="stylesheet"/>-->
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Home</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- 404 Error Text -->
            <div class="text-center">
                <div class="error mx-auto" data-text="404">404</div>
                <p class="lead text-gray-800 mb-5">Page Not Found</p>
                <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
                <a href="/">&larr; Voltar para Dashboard</a>
            </div>

        </div>
    </div>

</section>

<!--</div>-->
<!--<footer class="layout-footer">-->
<!--    <div class="container">-->
<!--        <span class="footer-copy">&copy; 2018 MBallem. Todos os direitos reservados.</span>-->
<!--    </div>-->
<!--</footer>-->

<!--&lt;!&ndash; Bootstrap core JavaScript-->
<!--================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
<!--<script src="/webjars/jquery/jquery.min.js"></script>-->
<!--<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
<!--<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript">-->

<!--    $(function () {-->
<!--        $('[data-toggle="popover"]').popover();-->
<!--    });-->

<!--    $(document).ready(function () {-->
<!--        $(".navbar-toggle").click(function () {-->
<!--            $(".sidebar").toggleClass("sidebar-open");-->
<!--        })-->
<!--    });-->

<!--</script>-->
</body>
</html>
