<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Loja Virtual com Spring MVC Spring Boot</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/image/favicon.png"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
          rel="stylesheet"/>

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<header>
    <nav
            class="navbar navbar-inverse navbar navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="btn btn-primary navbar-toggle pull-left">
                    <i class="oi oi-menu"></i>
                </button>
                <a class="navbar-brand " href="#">Painel Administrativo da Loja
                    Virtual</a>
            </div>
        </div>
    </nav>
</header>

<div class="layout-main">

    <aside>
        <!--        <nav class="sidebar sidebar-open">-->
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="oi oi-home"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Funcionários -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFuncionarios"
                   aria-expanded="true" aria-controls="collapseFuncionarios">
                    <i class="oi oi-fw oi-person"></i>
                    <span>Funcionários</span>
                </a>
                <div id="collapseFuncionarios" class="collapse" aria-labelledby="headingFuncionarios"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Telas para Funcionários:</h6>
                        <a class="collapse-item" href="/administrativo/funcionarios/cadastrar">Cadastrar</a>
                        <a class="collapse-item" href="/administrativo/funcionarios/listar">Listar</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Produtos -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProdutos"
                   aria-expanded="true" aria-controls="collapseProdutos">
                    <i class="oi oi-fw oi-dollar"></i>
                    <span>Produtos</span>
                </a>
                <div id="collapseProdutos" class="collapse" aria-labelledby="headingProdutos"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Telas para Produtos:</h6>
                        <a class="collapse-item" href="/administrativo/produtos/cadastrar">Cadastrar</a>
                        <a class="collapse-item" href="/administrativo/produtos/listar">Listar</a>
                        <a class="collapse-item" href="/administrativo/produtos/cargo-insert">Cadastro em lote</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Categorias -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategorias"
                   aria-expanded="true" aria-controls="collapseCategorias">
                    <i class="oi oi-fw oi-book"></i>
                    <span>Categorias</span>
                </a>
                <div id="collapseCategorias" class="collapse" aria-labelledby="headingCategorias"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Telas para Categorias:</h6>
                        <a class="collapse-item" href="/administrativo/categorias/cadastrar">Cadastrar</a>
                        <a class="collapse-item" href="/administrativo/categorias/listar">Listar</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - Marcas -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMarcas"
                   aria-expanded="true" aria-controls="collapseMarcas">
                    <i class="oi oi-fw oi-star"></i>
                    <span>Marcas</span>
                </a>
                <div id="collapseMarcas" class="collapse" aria-labelledby="headingMarcas"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Telas para Marcas:</h6>
                        <a class="collapse-item" href="/administrativo/marcas/cadastrar">Cadastrar</a>
                        <a class="collapse-item" href="/administrativo/marcas/listar">Listar</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Papeis e Permissões -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePapel"
                   aria-expanded="true" aria-controls="collapsePapel">
                    <i class="oi oi-fw oi-spreadsheet"></i>
                    <span>Permissões</span>
                </a>
                <div id="collapsePapel" class="collapse" aria-labelledby="headingPapel"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Papeis e Permissões:</h6>
                        <a class="collapse-item" href="/administrativo/permissoes/cadastrar">Cadastrar permissão</a>
                        <a class="collapse-item" href="/administrativo/permissoes/listar">Listar permissões</a>
                        <a class="collapse-item" href="/administrativo/papeis/cadastrar">Cadastrar papel</a>
                        <a class="collapse-item" href="/administrativo/papeis/listar">Listar papel</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - CEP -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCEP"
                   aria-expanded="true" aria-controls="collapseCEP">
                    <i class="oi oi-fw oi-signpost"></i>
                    <span>CEP</span>
                </a>
                <div id="collapseCEP" class="collapse" aria-labelledby="headingCEP"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Cidades e Estados:</h6>
                        <a class="collapse-item" href="/administrativo/cidades/cadastrar">Cadastrar cidades</a>
                        <a class="collapse-item" href="/administrativo/cidades/listar">Listar cidades</a>
                        <a class="collapse-item" href="/administrativo/estados/cadastrar">Cadastrar estados</a>
                        <a class="collapse-item" href="/administrativo/estados/listar">Listar estados</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - Entrada de produto -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEntradaProdutos"
                   aria-expanded="true" aria-controls="collapseEntradaProdutos">
                    <i class="oi oi-fw oi-transfer"></i>
                    <span>Entrada Produtos</span>
                </a>
                <div id="collapseEntradaProdutos" class="collapse" aria-labelledby="headingEntradaProdutos"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Entrada de estoque:</h6>
                        <a class="collapse-item" href="/administrativo/entrada/cadastrar">Cadastrar</a>
                        <a class="collapse-item" href="/administrativo/entrada/listar">Listar</a>
                    </div>
                </div>
            </li>

        </ul>

        <!--        </nav>-->
    </aside>

    <section class="layout-content" layout:fragment="corpo">
        Principal
        <!--			Onde terá as informações-->
    </section>

</div>
<!--<footer class="layout-footer">-->
<!--    <div class="container">-->
<!--			<span class="footer-copy">&copy; 2018 MBallem. Todos os-->
<!--				direitos reservados.</span>-->
<!--    </div>-->
<!--</footer>-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">

    $(function () {
        $('[data-toggle="popover"]').popover();
    });

    $(document).ready(function () {
        $(".navbar-toggle").click(function () {
            $(".sidebar").toggleClass("sidebar-open");
        })
    });

</script>
</body>
</html>
